
a:link {color:navy; text-decoration: none;}
a:visited {color:navy; text-decoration: none;}  
a:hover {color:#EF7C2A; font-style: normal;}
a:active {color: grey;}

body {
        margin: 0px;
        background: #ffffff;
}

pre {
        margin-left: 20px;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px; 
        color:navy;
}

img.center {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}

table.main {
        border: 0px;
        border-collapse: collapse;
        font-family: 'Roboto Mono', monospace;
        font-size: 16px; 
}

table.menu {
        border: 0px;
        padding-bottom: 4px;
        padding-top: 4px;
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
}

td.right {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 3px;
        padding-top: 3px;
        text-align: right;
}

td.left {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 3px;
        padding-top: 3px;
        text-align: left;
}

td.center {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 3px;
        padding-top: 3px;
        text-align: center;
}

tr.header {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 4px;
        padding-top: 4px;
        background-color: grey;
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: 18px; 
}

tr.even {
        background-color: white;
        color: navy;
}

tr.odd {
        background-color: #E6E6E6;
        color: navy;
}

#container {
        padding: 20px;
        overflow-y: hidden;
        display: flow-root;
}

div.child {
        padding: 8px;
        float: left;
}

div.table {
        padding: 20px;
}

div.footer { 
        position: fixed;
        bottom: 0px; 
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: left; 
        align-items: center; 
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        color: #9E9E9E;
        background-color: White;
        margin-left: 20px;
}

